.nav {
  /* width: 500px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  margin: 30px;
}

ul {
  display: flex;
  justify-content: space-between;
}

.homePageLink {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  height: 30px;
  border-radius: var(--input-border-radius);
  color: var(--main-color);
}

.homePageLink:visited,
.authLinks:visited,
.OutLink:visited {
  color: var(--main-color);
  text-decoration: none;
  transition: all 250ms var(--time-cubic);
}

.homePageLink:hover,
.homePageLink:active,
.authLinks:hover,
.authLinks:active {
  background-image: var(--btn-hover-bg);
  border: 0;
  box-shadow: var(--btn-hover-shadow);
  box-sizing: border-box;
  color: var(--input-bg-color);
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 250ms var(--time-cubic);
}
.authList {
  display: flex;
  justify-content: space-between;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.authLinks,
.OutLink {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--main-color);
  border-radius: var(--input-border-radius);
}

.OutLink {
  background: none;
  color: var(--main-color);
  border: none;
  bottom: auto;
  cursor: pointer;
}

.OutLink:hover,
.OutLink:active {
  background-image: var(--btn-hover-bg);
  border-radius: 8px;
  color: var(--input-bg-color);
  transition: all 250ms var(--time-cubic);
}

.headerIcon {
  position: relative;
  right: 5px;
  top: 2px;
  visibility: visible;
  transition: all 250ms ease-out;
}
