.seacrhInput {
  border: 1px solid transparent;
  padding: 10px;
  display: block;
  margin: 5px auto;
  width: 80%;
  background-color: var(--input-bg-color);
  border-radius: 5px;
  font-size: var(--placeholder-font-size);
}

.seacrhInput[placeholder] {
  font-size: var(--placeholder-font-size);
  color: #0f1f38;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: var(--input-bg-color);
}

.filterForm {
  width: 100%;
}

.seacrhInput:hover,
.seacrhInput:active,
.seacrhInput:focus-within {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  cursor: pointer;
}

.filterForm {
  width: 650px;
  margin-left: 233px;
  margin-bottom: 35px;
}

.seacrhInput {
  width: 48%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px rgb(0 0 0 / 20%);
  transition: all 250ms var(--time-cubic);
}
