.btnDelete {
  position: relative;
  width: 30px;
  border: none;
  top: -82px;
  margin-left: auto;
  font-size: 20px;
  display: block;
  color: var(--main-color);
  background-color: transparent;
}

.btnDelete:hover,
.btnDelete:active {
  color: #504d4d;
}

.contactListSpan {
  margin: 10px 0;
  display: block;
}

.contactListSpan:nth-of-type(2) {
  margin-top: 30px;
}

.contactList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  margin-top: 20px;
}

.contactListItem {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  text-align: center;
  background-color: var(--input-bg-color);
  height: 100px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 4) / 4);
}

.contactListIconSpan {
  display: block;
  position: relative;
  top: -27px;
  left: -12%;
  margin-bottom: 10px;
}

.contactListIcon {
  font-size: 50px;
  position: absolute;
}

.contactListItem:hover {
  border-bottom: 1px solid var(--hover-color);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%),
    0 2px 1px rgb(0 0 0 / 20%);
}
